#navigation_bar {
    position:fixed;
    float:left;
}

.navigation_item {
    margin-left:40%;
}

#divider {
    width:4px;
    height:100%;
    position:fixed;
    background-color:black;
    margin-left:20%;
    float:left;
}

#content {
    margin-left:25%;
    width:75%;
    height:100%;
    border:none;
    text-align:justify;
}
